---
---

@import "normalize";


/*------------------------------------*\
    #BASE
\*------------------------------------*/

$black: black;
$white: white;

html {
    box-sizing: border-box;
    color: $black;
    font-size: 1em;
    line-height: 1.4;
}

@media (min-width: 40em) {
    html {
        font-size: 1.2em;
    }
}

@media (min-width: 64.1em) {
    html {
        font-size: 1.4em;
    }
}

// apply a natural box layout model to all elements,
// but allowing components to change

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: $black;
    &:hover, .touch & {
        text-decoration: underline;
    }
}





/*------------------------------------*\
    #SLIDES
\*------------------------------------*/

.slide {
    position: relative;
    height: 50%;
    // min-height: 320px;
    text-align: center;
    z-index: 1;
}

    .slide__text {
        position: relative;
        margin: 0;
        top: 50%;
        margin-top: -10px;
        font-size: 1em;
        line-height: 0em;
        font-weight: normal;
        font-style: normal;
        font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    }

    .slide__text--big {
        font-size: 1.15em;
    }

    .slide__text--lower {
        &::first-letter {
            text-transform: lowercase;
        }
    }

$slide-colors: (
    red: red,
    orange: orange,
    // yellow: yellow,
    green: green,
    blue: blue,
    indigo: indigo,
    violet: violet
);

@each $color, $code in $slide-colors {
    .slide--#{"" + $color} {
        background: rgba($code, 0.5);
        .slide__text, .slide__text a {
            &::selection {
                background: $code;
                color: $white;
            }
            &::-moz-selection {
                background: $code;
                color: $white;
            }
        }
    }
}

// compressing the css was stripping this out this selector
.slide--yellow {
    background: rgba(yellow, 0.5);
    .slide__text, .slide__text a {
        &::selection {
            background: yellow;
        }
        &::-moz-selection {
            background: yellow;
        }
    }
}





/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.video-frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .no-js & {
        display: none;
    }
}

.video-player {
    position: absolute;
    opacity: 0;
    transition: opacity 400ms ease;
}

.mute-button {
    position: fixed;
    z-index: 10;
    right: 8px;
    bottom: 3px;
    color: rgba($black,0.8);
    font-size: 12px;
    opacity: 0;
    transition: opacity 400ms ease;
}




/*------------------------------------*\
    #HELPERS
\*------------------------------------*/

// Hide visually and from screen readers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screen readers: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.show {
    opacity: 1;
}
