---
---

@import "normalize";


/*------------------------------------*\
    #BASE
\*------------------------------------*/

// colors
$black: #000;
$gray: #111;
$white: #fff;
$orange: #eca26e;

// breakpoints
$medium: 48em;
$large: 64.1em;

::-moz-selection {
    background-color: $orange;
    color: $white;
}

::selection {
    background-color: $orange;
    color: $white;
}

html {
    box-sizing: border-box;
    color: $black;
    font-size: 14px;
    line-height: 1.6;
    font-family: Georgia, Times, "Times New Roman", serif;
}

@media (min-width: $medium) {
    html {
        font-size: 15px;
    }
}

@media (min-width: $large) {
    html {
        font-size: 16px;
    }
}

// apply a natural box layout model to all elements,
// but allowing components to change
*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
.full-height {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}




/*------------------------------------*\
    #SLIDE
\*------------------------------------*/

.slide {
    height: 50%;
    width: 100%;
}

@media screen and (orientation:landscape) {
    .slide--photo {
        height: 0;
    }

    .slide--copy {
        height: 100%;
    }
}

@media screen and (min-width: $medium) {
    .slide {
        height: 100%;
        width: 50%;
    }
}





/*------------------------------------*\
    #PHOTO
\*------------------------------------*/

.photo {
    background-color: #DCA26E;
}

@media screen and (min-width: $medium) {
    .photo {
        position: fixed;
    }
}

.photo__photo {
    background-size: cover;
    background-position: center top;
    height: 100%;
    animation: fadein 1s;
}

@media screen and (min-width: $medium) {
    .photo__photo {
        // background-position: center;
    }
}







/*------------------------------------*\
    #COPY
\*------------------------------------*/

.copy {
      padding: 3rem 6%;
}

@media screen and (min-width: $medium) {
    .copy {
        padding: 3rem 3em;
        float: right;
    }
}

@media screen and (min-width: $large) {
    .copy {
        padding: 4rem 7rem;
    }
}

.copy__container {
    max-width: 36em;
    margin: 0 auto 3rem;
}

.copy__heading {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.copy__copy {
    color: $gray;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 1rem;

    a {
        $orange: #f1bd99;
        border-bottom: 1px $orange solid;
        box-shadow: inset 0 -4px 0 $orange;
        transition: background 150ms;

        &:hover,
        .touch & {
            background-color: $orange;
        }
    }
}

.copy__links {
    margin-top: 1.5rem;
}

.copy__link {
    margin-right: 0.5rem;

    &:hover .icon {
        fill: $orange;
    }
}

.copy__colophon {
    color: #ccc;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 3rem;

    a {
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.icon {
    width: 1.5em;
    height: 1.5em;
    transition: fill 100ms ease;
}




/*------------------------------------*\
    #HELPERS
\*------------------------------------*/

// Hide visually and from screen readers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screen readers: h5bp.com/v
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.show {
    opacity: 1;
}

.inline-list {
    list-style: none;
    padding-left: 0;

    & li {
        display: inline-block;
    }
}

.tiny-space {
    font-size: 0.667em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
